.viejo
  background-color green !important
.nuevo
  background-color purple !important
.normal
  background-color: white !important
.juego
  display: flex;
.letra
  width: 20px
  height: 20px
.Todos
  height: 100%
.BarraP
  background: red
.PalabraC
  color white
  background: purple
  display: inline-block;
