@import "../bower_components/font-awesome/css/font-awesome.css"
@import "../bower_components/bootstrap/dist/css/bootstrap.css"

//
// Bootstrap Fonts
//

@font-face
  font-family: 'Glyphicons Halflings'
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot')
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');

//
// Font Awesome Fonts
//

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

//
// App-wide Styles
//

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

// Component styles are injected through grunt
/* inject:styl */
@import 'administrador/administradores-create/administradores-create';
@import 'administrador/administradores-list/administradores-list';
@import 'administrador/administradores-update/administradores-update';
@import 'ciudades/ciudades-list/ciudades-list';
@import 'clasesProductos/claseProductos-create/claseProductos-create';
@import 'clasesProductos/claseProductos-list/claseProductos-list';
@import 'dashboard/administrador/administrador';
@import 'dashboard/empleado/empleado';
@import 'departamentos/departamentos-list/departamentos-list';
@import 'empleados/empleados-create/empleados-create';
@import 'empleados/empleados-list/empleados-list';
@import 'empleados/empleados-update/empleados-update';
@import 'facturas/factura-create/factura-create';
@import 'facturas/factura-list/factura-list';
@import 'facturas/facturas-update/facturas-update';
@import 'forbidden/forbidden';
@import 'login/login';
@import 'main/main';
@import 'pedidos/pedidos-create/pedidos-create';
@import 'pedidos/pedidos-list/pedidos-list';
@import 'productos/productos-create/productos-create';
@import 'productos/productos-list/productos-list';
@import 'productos/productos-update/productos-update';
@import 'tiposDocumentos/tiposDocumentos-list/tiposDocumentos-list';
@import 'upload-file/upload-file-productos/upload-file-productos';
@import 'upload-file/upload-file/upload-file';
@import 'usuarios/usuarios-create/usuarios-create';
@import 'usuarios/usuarios-list/usuarios-list';
@import 'usuarios/usuarios-update/usuarios-update';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/navbar/navbar';
@import '../components/slider/slider';
/* endinject */
