<div class="Header">
  <div class="container">
    <div class="row">
      <div class="col-sx-12 col-sm-6 ">
        <a class="BotonInicio "type="button" name="button" ui-sref="login">iniciar sesion</a>
        <button class="" type="button" name="button" ui-sref="usuarios-create">registrarse</button>
      </div>
    </div>
  </div>

</div>

<div class="navbar navbar-default navbar-static-top" >
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="vm.isCollapsed = !vm.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a ng-hide="vm.authService.alluser()" href="/" class="navbar-brand">pizzeria</a>
    </div>
    <div uib-collapse="vm.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-hide="vm.authService.alluser()" ng-repeat="item in vm.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>

        </li>

        <li ng-hide="vm.authService.isAdmin()">
          <a href="#menu">Menu</a>
        </li>
        <li ng-show="vm.authService.alluser()"  class="Navbar-item" >
            <h2 ng-click="">{{vm.authService.userlog()}} </h2>
            <button ng-show="vm.authService.isAdmin()"  class="btn btn-primary" ui-sref="usuarios-list">lista de usuarios</button>
            <button type="button" name="button" ng-click="vm.authService.logout()" class="btn btn-primary">cerrar sesion</button>
            <button ui-sref="usuarios-update({idUsers:vm.authService.idUsuario()})" class="btn btn-primary">Editar perfil</button>

          </li>
      </ul>
    </div>
  </div>
</div>
