.MoverLi
  padding-top: 1em
.THeader
  position: fixed;
  width: 100%
  background-color: black
  z-index: 1000

.BotonInicio
  border-left: 1px solid blue
  border-right:  1px solid blue
  padding-left: 10px
  padding-right: 10px
.Logo>img
  width: 15em
  height: 10em
.LogoBoton
  display: flex;
  justify-content:space-around;
li
  list-style-type: none;
.Botones
  display: flex;
  justify-content: flex-end;
  background-color: black
.Header
  background-color: black
.Nombre
  color: white



.NavbarItem>ul
  display: flex;
  justify-content: center;
  align-items: center;
.NavbarItem>ul>li
  list-style-type: none;
  margin-left: 2em

.NavbarItem>ul>li>button
  width: 8em
  background-color: #743837
  color: white
  font-family: cursive;
  font-size: bold
.NavbarItem>ul>li>a
  text-decoration: none;
  background-color: #743837
  color: white
  font-family: cursive;
  font-size: bold
.NavbarItem>ul>li>button:hover
  background-color: #E63235
.NavbarItem>ul>li>a:hover
  background-color: #E63235
