.thing-form
  margin 20px 0
.ImagenProducto
  width: 30em
#banner
  border-bottom none
  margin-top 0px

#banner h1
  font-size 60px
  letter-spacing -1px
  line-height 1

.hero-unit
  background #00A857
  color #F5F5F5
  padding 30px 15px
  text-align center
  text-shadow 0 1px 0 rgba(0, 0, 0, 0.1)
.Modal-princi
  border 2px solid #428bca
.Modal:hover .Modal-1
  color: #00A857x

.navbar-text
  margin-left 15px
.Table
  display: block;


.ProductosMenu
  display: flex;
  justify-content: space-evenly;

.ProductosMenu>ul
  margin: 0
.
.ProductosMenu>ul>li
  margin: 0px
  list-style-type: none;
  width: 10em
.Quienes
  display: flex;

.QuienesS
  padding: 5em
.MenuContainer
  padding: 3em 0
.Menu
  background-image:url("../../assets/images/logo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
