<section class="Login">
  <form class="Login-form" name="userForm">

    <h2 class="Login-formTitle">Iniciar Sesión</h2>
    <input class="Login-formInput" type="text" placeholder="NIT o N° de Documento" name="documentNumber" ng-model="vm.user.numDocumento"
      ng-pattern="/^[0-9]*$/" minlenght="5" maxlength="15" placeholder="Numero de documento" required>
      <span class="Error-formMessage" ng-show="userForm.documentNumber.$error.pattern">Este campo solo admite numeros.</span>
      <span class="Error-formMessage" ng-show="userForm.documentNumber.$touched && userForm.documentNumber.$invalid">Debe ingresar un numero de documento.</span>
    <input class="Login-formInput" type="password" placeholder="Contraseña" name="password" ng-model="vm.user.password" required>
    <span class="Error-formMessage" ng-show="userForm.password.$touched && userForm.password.$invalid">Debe ingresar una contraseña.</span>
    <button class="Login-formButton" type="submit" ng-click="vm.login()">Iniciar Sesión</button>
    <a class="Login-formRecover" ui-sref="contactUs">¿Olvidaste tu contraseña?</a>
    <div class="Login-formBottom">
      <p class="Login-formInfo">¿Necesitas una cuenta?</p>
      <a class="Login-formLink" ui-sref="usuarios-create">Registrate</a>
    </div>
  </form>
</section>
